.about {
    width: 100%;
    height: 100%;
}

.section-container {
    border: 1px solid var(--outline-primary, white);
    background-color: var(--background-primary, white);

    width: 100%;
    height: 100%;
    padding: 8px;
}

.title {
    color: var(--text-primary, black);
    font-family: Roboto;
    font-size: 1.25rem;
    text-decoration: underline;
    text-align: center;
}

.intro {
    color: var(--text-primary, black);
    font-size: 1.1rem;
    text-align: center;
    line-height: 110%;
}

.separator {
    background-color: var(--separator, rgb(114, 114, 114));

    width: 100%;
    min-height: 2px;
}

.section-title {
    color: var(--text-primary, black);
    font-size: 1.25rem;
    text-decoration: underline;
    text-align: left;
}

.section-text {
    color: var(--text-primary, black);
    font-size: 1rem;
    text-align: left;
}

.section-list {
    display: flex;
    flex-direction: column;
    gap: 8px;

    list-style: inside;
}

.section-list-item {
    color: var(--text-primary, black);
    font-size: 1rem;
    text-align: left;

    list-style-position: inside;
}
