.generation-quantity-options {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

    width: 100%;
}

.quantity-buttons {
    justify-self: end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 8px;

    width: 100%;
}

.generation-quantity-button {
    align-self: center;

    position: relative;

    pointer-events: auto;

    font-family: Roboto;
    border: none;
    outline-width: 1px;
    outline-style: solid;

    height: min-content;
    padding: 0.4rem 1rem;
}

.generation-quantity-button {
    color: var(--text-primary, black);
    font-size: 1rem;
    font-weight: var(--text-bold-font-weight);
    background-color: var(--background-primary, white);
}

@media (hover: hover) {
    .generation-quantity-button:hover:not(:disabled) {
        cursor: pointer;
        outline: 3px solid var(--outline-tertiary, black);
        background-color: var(--background-secondary, rgb(247, 247, 247));
    }
}

.generation-quantity-button:focus:not(:disabled),
.generation-quantity-button.selected {
    cursor: pointer;
    outline: 3px solid var(--outline-tertiary, black);
    background-color: var(--background-primary, rgb(206, 206, 206));
}

.custom-quantity-field {
    align-self: center;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    text-wrap: nowrap;
}

.custom-quantity-field input {
    color: var(--text-primary, black);
    font-family: Roboto;
    font-size: 1rem;

    border: none;
    outline: 1px solid var(--outline-primary, black);
    background-color: var(--background-tertiary, rgb(216, 216, 216));

    min-width: 100px;
    width: 100%;
    max-width: 200px;
    padding: 4px;
}
