.page {
    position: relative;

    color: black;
    font-family: Roboto;

    height: 100%;
    width: 100%;
    padding: 16px;
}

.page.wide {
    display: grid;
    grid-template-columns: 40% auto;
    grid-template-rows: 100%;
    gap: 12px;
}

.left-panel,
.right-panel,
.main-panel {
    background-color: var(--background-secondary, white);
    -webkit-box-shadow: 0px 10px 10px 0px rgba(158, 158, 158, 1);
    -moz-box-shadow: 0px 10px 10px 0px rgba(158, 158, 158, 1);
    box-shadow: 0px 10px 10px 0px rgba(158, 158, 158, 1);

    height: 100%;
    padding: 12px;
}

.left-panel,
.main-panel {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.info {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.title,
.name,
.version {
    text-align: center;

    width: 100%;
}

.title {
    font-size: 1.6rem;
}

.name {
    font-size: 1rem;
}

.version {
    color: grey;
    font-size: 0.8rem;
}

.messages {
    position: absolute;
    top: 0;

    pointer-events: none;

    justify-content: end;
    align-items: center;

    width: 100%;
    height: 100%;

    padding: 16px;
}

@keyframes message-in {
    0% {
        scale: 90%;
        opacity: 0;
    }
    100% {
        scale: 100%;
        opacity: 1;
    }
}

@keyframes message-out {
    0% {
        scale: 100%;
        opacity: 1;
    }
    100% {
        scale: 90%;
        opacity: 0;
    }
}

.message-container {
    position: absolute;
    bottom: 16px;

    display: flex;
    justify-content: center;

    width: 100%;

    transition: translate 0.3s ease-out;
    animation: 0.3s cubic-bezier(0.4, -1.02, 0.49, 1.93) 0s 1 normal forwards message-in;
}

.message-container.removing {
    animation: 0.3s cubic-bezier(0.43, -1.09, 0.49, 0.99) 0s 1 normal forwards message-out;
}
