.item-entry {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.item-container {
    outline: 1px solid black;

    padding: 4px;
}

.item-entry-fields {
    display: flex;
    flex-direction: column;
    gap: 1px;

    pointer-events: all;

    outline: 1px solid black;

    width: 100%;
}
