.item-entry {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.item-entry-bar {
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    grid-template-columns: 1fr repeat(3, auto);
    align-content: end;
    align-items: center;

    pointer-events: none;

    outline: 1px solid black;

    min-height: 1.9rem;
}

.item-entry-bar {
    background-color: rgb(170, 238, 149);
}

.item-entry-bar.is-preset {
    background-color: rgb(241, 197, 114);
}

@media (hover: hover) {
    .item-entry-bar:has(> .entry-toggle-bar-container:hover),
    .item-entry-bar:has(> .save-as-preset-button-container:hover),
    .item-entry-bar:has(> .delete-button-container:hover) {
        z-index: 1;

        outline-width: 3px;
    }

    .item-entry-bar:has(> .entry-toggle-bar-container:hover),
    .item-entry-bar:has(> .save-as-preset-button-container:hover) {
        background-color: rgb(151, 226, 128);
    }

    .item-entry-bar.is-preset:has(> .entry-toggle-bar-container:hover),
    .item-entry-bar.is-preset:has(> .save-as-preset-button-container:hover) {
        background-color: rgb(236, 185, 89);
    }

    .item-entry-bar:has(> .delete-button-container:hover) {
        background-color: rgb(255, 120, 120);
    }
}

.item-entry-bar:has(> .entry-toggle-bar-container:focus),
.item-entry-bar:has(> .save-as-preset-button-container:focus),
.item-entry-bar:has(> .delete-button-container:focus) {
    z-index: 1;

    outline-width: 3px;
}

.item-entry-bar:has(> .entry-toggle-bar-container > button:focus) {
    background-color: rgb(132, 206, 110);
}

.item-entry-bar.is-preset:has(> .entry-toggle-bar-container > button:focus) {
    background-color: rgb(226, 170, 66);
}

.item-entry-bar:has(> .delete-button-container > button:focus) {
    background-color: rgb(255, 83, 83);
}

.item-entry-fields {
    display: flex;
    flex-direction: column;
    gap: 1px;

    pointer-events: all;

    outline: 1px solid black;

    width: 100%;
    padding-bottom: 1px;
}
