.option {
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    justify-content: center;
    align-items: center;
    gap: 4px;

    pointer-events: all;

    color: var(--text-primary, black);
    font-size: 1rem;
    text-wrap: nowrap;

    border: 1px solid var(--outline-primary, black);
    background-color: var(--background-tertiary, rgb(216, 216, 216));

    padding: 4px;
}

.symbol {
    color: rgba(var(--text-primary-dec, 0, 0, 0), 0.6);
}

@media (hover: hover) {
    .option:hover {
        cursor: pointer;

        background-color: var(--background-secondary, rgb(226, 226, 226));

        outline: 1px solid var(--outline-primary, black);
    }

    .option:hover .symbol {
        color: rgba(var(--text-primary-dec, 0, 0, 0), 0.5);
    }
}

.option:focus {
    cursor: pointer;

    background-color: var(--background-quaternary, rgb(190, 190, 190));

    outline: 1px solid var(--outline-primary, black);
}

.option:focus .symbol {
    color: rgba(var(--text-primary-dec, 0, 0, 0), 0.7);
}
