.search-input {
    color: black;
    font-family: Roboto;
    font-size: 0.9rem;

    border: 1px solid black;
    outline: none;

    width: 100%;
    padding: 3px;
}

.search-input:focus {
    outline: 1px solid black;
}

.search-input:disabled {
    background-color: rgba(0, 0, 0, 0.12);
}
