.entry-fields-container {
    align-self: end;

    display: flex;
    flex-direction: column;

    border-left: 1px solid var(--outline-primary, black);

    width: calc(100% - 12px);
}

.entry-fields {
    display: flex;
    flex-direction: column;
    gap: 6px;

    pointer-events: all;

    width: 100%;
    padding: 6px;
}

.entry-fields-subcategories {
    display: flex;
    flex-direction: column;

    pointer-events: all;

    width: 100%;
}
