.text-field-label {
    display: flex;
    align-items: center;
    gap: 6px;

    color: var(--text-primary, black);
    font-family: Roboto;
    font-size: 0.9rem;
    text-wrap: nowrap;

    width: 100%;
}

.text-field-input {
    color: var(--text-primary, black);
    font-family: Roboto;
    font-size: 0.9rem;

    border: none;
    outline: 1px solid var(--outline-primary, black);
    background-color: var(--background-tertiary, rgb(216, 216, 216));

    width: 100%;
    padding: 3px;
}

.text-field-input:disabled {
    background-color: rgba(var(--background-inverted-dec, 0, 0, 0), 0.12);
}
