.text-field-label {
    display: flex;
    align-items: center;
    gap: 6px;

    color: black;
    font-family: Roboto;
    font-size: 0.9rem;
    text-wrap: nowrap;

    width: 100%;
}

.text-field-input {
    color: black;
    font-family: Roboto;
    font-size: 0.9rem;

    border: none;
    outline: 1px solid black;

    width: 100%;
    padding: 3px;
}

.text-field-input:disabled {
    background-color: rgba(0, 0, 0, 0.12);
}
