.sort-options {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    width: 100%;
}

.sort-options-title {
    color: black;
    font-size: 0.9rem;
}

.sort-option-input {
    min-width: 20px;
    min-height: 20px;
}

.sort-option-select {
    align-self: center;

    color: black;
    font-size: 0.9rem;
    font-family: Roboto;
    text-transform: capitalize;
    text-align: center;

    border: 1px solid black;
    border-radius: 2px;
    outline: none;

    width: min-content;
    height: min-content;
    padding: 2px 0px;
}

@media (hover: hover) {
    .sort-option-select:hover {
        cursor: pointer;
    }
}

.sort-option-select-option {
    color: black;
    font-family: Roboto;
    text-transform: capitalize;
}

.sort-option-select-option:nth-child(2n-1) {
    background-color: rgba(0, 0, 0, 0.1);
}

.sort-option-select-option:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.16);
}

.sort-option-criteria {
    display: flex;
    flex-wrap: nowrap;
    gap: 8px;
}
