.sort-options {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;

    width: 100%;
}

.sort-options-title {
    color: var(--text-primary, black);
    font-size: 0.9rem;
    text-wrap: nowrap;
}

.option-and-criteria-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4px 8px;
}

.sort-option-input {
    min-width: 20px;
    min-height: 20px;
}

.sort-option-select {
    align-self: center;

    color: var(--text-primary, black);
    font-size: 0.9rem;
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
    text-align: center;

    border: 1px solid var(--outline-primary, black);
    border-radius: 2px;
    outline: none;
    background-color: var(--background-primary);

    width: min-content;
    height: min-content;
    padding: 2px;
}

@media (hover: hover) {
    .sort-option-select:hover {
        cursor: pointer;
    }
}

.sort-option-select-option {
    color: var(--text-primary, black);
    font-family: Roboto, sans-serif;
    text-transform: capitalize;
}

.sort-option-select-option:nth-child(2n-1) {
    background-color: rgba(var(--background-inverted-dec, 0, 0, 0), 0.1);
}

.sort-option-select-option:nth-child(2n) {
    background-color: rgba(var(--background-inverted-dec, 0, 0, 0), 0.16);
}
