.table-entry {
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.table-entry-fields {
    display: flex;
    flex-direction: column;
    gap: 1px;

    pointer-events: all;

    outline: 1px solid var(--outline-primary, black);

    width: 100%;
}

.table-entries {
    align-self: end;

    display: flex;
    flex-direction: column;
    gap: 1px;

    width: calc(100% - 16px);
}
