.loot {
    display: flex;
    flex-direction: column;
    justify-content: start;

    overflow-y: auto;

    border: 1px solid #000;
    background-color: #fff;

    width: 100%;
    padding: 8px;
}

.item {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto;
    gap: 1rem;

    padding: 6px;
}

.item:nth-child(2n-1) {
    background-color: rgba(0, 0, 0, 0.16);
}

.item:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.1);
}
