.create-new-entry-button {
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: all;

    color: rgba(0, 0, 0, 0.4);
    font-size: 4px;

    border: none;
    background-color: transparent;

    height: 100%;
    aspect-ratio: 1;
    padding: 2px;
}

@media (hover: hover) {
    .create-new-entry-button:hover {
        cursor: pointer;

        color: rgba(0, 0, 0, 0.6);
    }
}

.create-new-entry-button:focus {
    cursor: pointer;

    color: rgba(0, 0, 0, 0.8);
}
