.create-new-entry-button-wrapper {
    position: relative;
}

.create-new-entry-button {
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: all;

    color: rgba(0, 0, 0, 0.4);
    font-size: 4px;

    border: none;
    background-color: transparent;

    height: 100%;
    aspect-ratio: 1;
    padding: 2px;
}

@media (hover: hover) {
    .create-new-entry-button:hover {
        cursor: pointer;

        color: rgba(0, 0, 0, 0.6);
    }
}

.create-new-entry-button:focus {
    cursor: pointer;

    color: rgba(0, 0, 0, 0.8);
}

.creation-menu {
    z-index: 2;

    position: absolute;
    top: 0%;
    left: 50%;
    transform: translateX(-50%) translateY(-100%);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3px;

    pointer-events: all;

    border: 2px solid #000;
    border-radius: 6px;
    background-color: black;

    padding: 4px;
}

.create-new-table-button,
.create-new-item-button {
    display: flex;
    justify-content: center;
    align-items: center;

    pointer-events: all;

    color: white;
    font-size: 0.85rem;

    border: none;
    border-radius: 6px;
    background-color: transparent;

    width: 100%;
    padding: 3px 10px;
}

@media (hover: hover) {
    .create-new-table-button:hover,
    .create-new-item-button:hover {
        cursor: pointer;

        background-color: rgba(255, 255, 255, 0.4);
    }
}

.create-new-table-button:focus,
.create-new-item-button:focus {
    cursor: pointer;

    background-color: rgba(255, 255, 255, 0.3);
}
