.select-entry {
    display: flex;
    flex-direction: column;

    outline: 1px solid black;

    padding: 4px;
}

.selection-list {
    overflow-y: hidden;

    border: 1px solid #000;
    outline: 1px solid black;

    min-height: 0;
    height: 100%;
    max-height: 200px;
    padding: 4px;
}
