.results {
    display: grid;
    grid-template-rows: 1fr auto auto;
    gap: 12px;

    width: 100%;
    height: 100%;
}

.generate-and-reset-buttons {
    justify-self: end;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;

    width: 100%;
}

.generate-button,
.reset-button {
    align-self: center;

    position: relative;

    pointer-events: auto;

    font-family: Roboto;
    border: none;
    outline-width: 1px;
    outline-style: solid;

    height: min-content;
    padding: 0.4rem 1rem;
}

.generate-button {
    left: 50%;
    transform: translateX(-50%);

    flex: 0 1 auto;

    font-size: 1.4rem;
    font-weight: var(--text-bold-font-weight);
    background-color: #fff;
}

.reset-button {
    flex: 0 1 auto;

    font-size: 1rem;
    font-weight: var(--text-bold-font-weight);
    background-color: #fff;

    margin-left: auto;
}

@media (hover: hover) {
    .generate-button:hover:not(:disabled),
    .reset-button:hover:not(:disabled) {
        cursor: pointer;
        outline: 3px solid var(--outline-tertiary, grey);
        background-color: #ececec;
    }
}

.generate-button:focus:not(:disabled),
.reset-button:focus:not(:disabled) {
    cursor: pointer;
    outline: 3px solid var(--outline-tertiary, grey);
    background-color: #d4d4d4;
}
