.interactive {
    display: flex;
    flex-direction: column;
    justify-content: start;

    overflow-y: auto;

    border: 1px solid #000;
    background-color: #fff;

    width: 100%;
    height: 100%;
    padding: 8px;
}

.item,
.table {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 1px;
}

.expand-collapse-button {
    box-sizing: border-box;

    position: relative;

    justify-self: end;
    align-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;

    pointer-events: auto;

    border: none;
    outline: 1px solid black;

    width: 100%;
    padding: 0px 4px;
}

@media (hover: hover) {
    .expand-collapse-button:hover:not(:disabled) {
        z-index: 1;

        cursor: pointer;

        outline-width: 3px;
    }
}

.expand-collapse-button:focus:not(:disabled) {
    z-index: 1;

    cursor: pointer;

    outline-width: 3px;
}

.item > .expand-collapse-button {
    background-color: rgb(170, 238, 149);
}

.table > .expand-collapse-button {
    background-color: rgb(186, 240, 228);
}

@media (hover: hover) {
    .item > .expand-collapse-button:hover {
        background-color: rgb(151, 226, 128);
    }

    .table > .expand-collapse-button:hover {
        background-color: rgb(157, 224, 210);
    }
}

.item > .expand-collapse-button:focus {
    background-color: rgb(132, 206, 110);
}

.table > .expand-collapse-button:focus {
    background-color: rgb(139, 206, 191);
}

.symbol {
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: 200;

    width: 1rem;
}

.item-name,
.table-name {
    font-size: 1rem;
}

.item-name.unnamed,
.table-name.unnamed {
    font-style: italic;
}

.table-entries {
    width: calc(100% - 16px);
}
