.interactive {
    display: flex;
    flex-direction: column;
    justify-content: start;

    overflow-y: auto;

    border: 1px solid #000;
    background-color: #fff;

    width: 100%;
    height: 100%;
    padding: 8px;
}

.expand-collapse-button {
    position: relative;

    justify-self: end;
    align-self: center;

    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    gap: 6px;

    pointer-events: auto;

    border: none;
    outline-width: 1px;
    outline-style: solid;

    width: 100%;
    padding: 0px 4px;
}

@media (hover: hover) {
    .expand-collapse-button:hover:not(:disabled) {
        z-index: 1;
        cursor: pointer;
        outline: 3px solid var(--outline-tertiary, grey);
        background-color: #ececec;
    }
}

.expand-collapse-button:focus:not(:disabled) {
    z-index: 1;
    cursor: pointer;
    outline: 3px solid var(--outline-tertiary, grey);
    background-color: #d4d4d4;
}

.item {
    display: flex;

    border: 1px solid #000;
}

.symbol {
    font-family: Roboto;
    font-size: 1.4rem;
    font-weight: 200;
}

.item-name {
    font-size: 1rem;
}
